<link rel="stylesheet" href="atom_one_dark.css"><h1>Test blog post One</h1>
<ul>
<li>A</li>
<li>B</li>
<li>C</li>
</ul>
<h2>Bananas</h2>
<p>Bubbles are cool</p>
<pre class="hljs" style="padding: 8px;"><code>  <span class="hljs-keyword">fn</span> <span class="hljs-title function_">main</span>() <span class="hljs-punctuation">-&gt;</span> <span class="hljs-type">Result</span>&lt;(), <span class="hljs-type">Box</span>&lt;<span class="hljs-keyword">dyn</span> std::error::Error&gt;&gt; {
    <span class="hljs-keyword">let</span> <span class="hljs-variable">a</span> = <span class="hljs-number">1</span>;
    <span class="hljs-keyword">let</span> <span class="hljs-variable">b</span> = <span class="hljs-number">2</span>;
    
    <span class="hljs-keyword">let</span> <span class="hljs-variable">c</span> = a + b;
    <span class="hljs-title function_ invoke__">Ok</span>(())
  }
</code></pre>
