<script lang="ts">
  async function getBlogPosts(): Promise<{url: string, filename: string}[]> {
    let res = await fetch("../urls.txt");
    return await res.json();
  }
</script>

<div class="flex flex-col items-center justify-center dark:text-white">
  {#await getBlogPosts()}
    <div>Waiting for blog posts...</div>
  {:then urls}
    {#each urls as url}
      <a href={url.url}
        class="w-3/4 rounded p-4 mb-2 dark:bg-neutral-600 dark:hover:bg-neutral-500 hover:bg-neutral-100 hover:cursor-pointer shadow transition-colors"
      >
        {url.filename}
      </a>
    {/each}
  {:catch error}
    <div>No blog posts found! :(</div>
  {/await}
</div>