<script>
    import { onMount } from "svelte";
    import ProjectWidget from "../widgets/ProjectWidget.svelte";

    export let location;
    let projects = [];

    onMount(async () => {
        let results = await fetch(
            "https://gitlab.com/api/v4/users/jchand99/projects"
        );

        projects = results.json();
    });
</script>

<div class="flex justify-center">
    {#await projects}
        <p class="text-black dark:text-white">...loading projects</p>
    {:then p}
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-5">
            {#each p as project}
                <ProjectWidget projectInfo={project} />
            {/each}
        </div>
    {:catch error}
        <p class="text-red-800">{error.message}</p>
    {/await}
</div>

<style>
</style>
