<script lang="ts">
  import { Router, Link, Route} from "svelte-routing";
  import Home from "./pages/Home.svelte";
  import Blog from "./pages/Blog.svelte";
  import About from "./pages/About.svelte";
  import Financer from "./pages/Financer.svelte";

  export let url = "";

  let darkModeEnabled = localStorage.theme === "dark";

  function toggleDark() {
    if (localStorage.theme === "dark") localStorage.theme = "light";
    else localStorage.theme = "dark";
    document.documentElement.classList.toggle("dark");
    darkModeEnabled != darkModeEnabled;
  }
</script>

<Router {url}>
  <main class="lg:mx-[200px]">
    <div class="flex flex-col md:flex-row justify-between items-center mb-16">
      <nav
        class="flex flex-col md:flex-row grow justify-evenly items-center text-xl font-bold"
      >
        <Link to=""><h3 class="text-2xl dark:text-white">Qubyts</h3></Link>
        <Link
          class="dark:text-white dark:hover:bg-neutral-600 hover:bg-gray-100 rounded-md px-6 py-2"
          to="/blog">Blog</Link
        >
        <Link
          class="dark:text-white dark:hover:bg-neutral-600 hover:bg-gray-100 rounded-md px-6 py-2"
          to="/about">About</Link
        >
        <Link
          class="dark:text-white dark:hover:bg-neutral-600 hover:bg-gray-100 rounded-md px-6 py-2"
          to="/financer">Financer</Link
        >
      </nav>

      <label class="relative flex items-center justify-center p-2 group">
        <input
          type="checkbox"
          on:click={toggleDark}
          bind:checked={darkModeEnabled}
          class="absolute w-full h-full appearance-none left-1/2 -translate-x-1/2 peer rounded-md"
        />
        <span
          class="flex items-center flex-shrink-0 w-10 h-6 p-1 bg-neutral-300 rounded-full duration-300 ease-in-out peer-checked:bg-neutral-500 after:w-4 after:h-4 after:bg-white after:rounded-full after:shadow-md after:duration-300 peer-checked:after:translate-x-4 group-hover:after:translate-x-1"
        />
      </label>
    </div>
    <div>
      <Route path="" component={Home} />
      <Route path="/blog" component={Blog} />
      <Route path="/about" component={About} />
      <Route path="/financer" component={Financer} />
    </div>
  </main>
</Router>
