<link rel="stylesheet" href="./tokyo-night-dark.css">
<link rel="stylesheet" href="../lineawesome/css/line-awesome.min.css">
<link rel='stylesheet' type="text/css" href='./tailwind.css'>

<script>
  var darkModeEnabled = localStorage.theme === "dark";

  function toggleDark() {
    if (localStorage.theme === "dark") localStorage.theme = "light";
    else localStorage.theme = "dark";
    document.documentElement.classList.toggle("dark");
    darkModeEnabled = !darkModeEnabled;
  }

</script>

<style>
  .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .socialLink {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    color: black;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .socialLink:hover {
    background-color: #E5E7EB;
  }

  h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }

  h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
</style>

<body class="dark:bg-neutral-700 dark:text-white transition-colors">

  <div class="flex flex-col mx-4 sm:mx-14 md:mx-28 mb-8">
    <div class="flex flex-row text-xl justify-between items-center">
      <a class="flex flex-row items-center py-1 px-2 rounded appearance-none dark:hover:bg-neutral-600 hover:bg-neutral-100"
        href="/blog">
        <div class="pr-1 text-2xl">
          <i class="las la-arrow-left"></i>
        </div>
        <div class="px-4">Back</div>
      </a>

      <label class="relative flex items-center justify-center p-2 group">
        <input type="checkbox" onclick="toggleDark()"
          class="absolute w-full h-full appearance-none left-1/2 -translate-x-1/2 peer rounded-md"></input>
        <span
          class="flex items-center flex-shrink-0 w-10 h-6 p-1 bg-neutral-300 rounded-full duration-300 ease-in-out peer-checked:bg-neutral-500 after:w-4 after:h-4 after:bg-white after:rounded-full after:shadow-md after:duration-300 peer-checked:after:translate-x-4 group-hover:after:translate-x-1"></span>
      </label>

    </div>
    <div class="flex flex-col w-full">
      <!-- REPLACE -->
    </div>
  </div>
  <div class="socialContainer">
    <a href="https://gitlab.com/jchand99" class="socialLink"><i class="lab la-gitlab text-orange-500"></i></a>
    <a href="https://www.youtube.com/channel/UCfcij6KxJV4d-tMzXCBdyLg" class="socialLink"><i
        class="lab la-youtube text-red-500"></i></a>
    <a href="https://www.twitch.tv/qubyts" class="socialLink"><i class="lab la-twitch text-purple-500"></i></a>
  </div>
</body>